{% load static %}
	<!-- FOOTER -->
	<div id="footer" class="bg-dark">
	    <div class="container text-center">
        <!-- LOGO -->
	      <a href="/">
          <img src="{% static 'images/logos/Scrimnabs-logo-smaller-swoosh.png' %}" class="p-3 pt-4">
        </a>
        <!-- END LOGO -->
        <!-- NAVIGATION -->
        <div id="footer-links">
          <a href="/">Home</a>
          <a href="/teams">Teams</a>
          <a href="/players">Players</a>
        </div>
        <!-- END NAVIGATION -->
        <!-- SOCIAL -->
        <div id="footer-social">
          <a href="https://twitter.com/ScrimNabs" class="fab fa-twitter"></a>
        </div>
        <!-- END SOCIAL -->
	    </div>
	</div>
  <!-- END FOOTER -->