{% extends 'leaderboards/base.html' %}

{% load static %}

{% block title %}{{team.name}}{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'leaderboards/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'leaderboards/team_detail.css' %}">
{% endblock %}

<!--
id
name
roster
captain
mmr
series_played
games_played
series_won
games_won
series_lost
games_lost
goals_for
goals_against
shots_for
shots_against
assists
score
saves
win_percent
-->

{% block content %}
<!-- TEAM DETAIL -->
<!-- DASHBOARD SECTION -->
<div id="dashboard" class="pb-5">
    <!-- NAME CONATINER-->
    <div class="w-100 py-4">
        <div id="team-name" class="w-100 p-2 my-4">
            <h5 class="m-0 pt-1">
                <i class="fas fa-caret-left"></i>
                TEAM
                <i class="fas fa-caret-right"></i>
            </h5>
            <h1 class="m-0 font-weight-bold">{{team.name}}</h1>
        </div>
    </div>
    <!-- END NAME CONTAINER-->
    <!-- MAINCARD CONTAINER-->
    <div class="container">
        <div id="maincard" class="card box-shadow text-center bg-dark mb-4" style="border: none; overflow: hidden;">
            <div class="row m-0">
                <!-- LEFT COLUMN -->
                <div id="mc-left-col" class="col-lg-3 p-0">
                    <!-- RANK BOX -->
                    <div class="card-body" style="background: rgba(0,0,0,.5)">
                        <h1 id="rank-label" class="display-4 font-weight-light">RANK</h1>
                        <h1 id="rank-value" class="d-inline-block display-1 font-weight-bold m-0" style="text-shadow: 2px 2px 3px rgba(169,169,169,0.75);">
                            <span class="fas fa-hashtag align-middle" style="font-size: 60px; padding-bottom: 15px; margin-right: -9px;"></span>
                            <span style="margin-left: -9px;">{{team.rank}}</span>
                        </h1>
                    </div>
                    <!-- END RANK BOX -->
                    <div id="score-mmr" class="h-100">
                        <!-- SCORE BOX -->
                        <div class="row m-0" style="background: rgba(128,125,128,.3)">
                            <div class="col text-right">
                                <h4 class="font-weight-light m-0">{{team.score}}</h4>
                            </div>
                            <div class="col text-left">
                                <h4 class="font-weight-light m-0">SCORE</h4>
                            </div>
                        </div>
                        <!-- END SCORE BOX -->
                        <!-- MMR BOX -->
                        <div class="row m-0" style="background: rgba(0,0,0,.2)">
                            <div class="col text-right">
                                <h4 class="font-weight-light m-0">{{team.mmr}}</h4>
                            </div>
                            <div class="col text-left">
                                <h4 class="font-weight-light m-0">ELO</h4>
                            </div>
                        </div>
                        <!-- END MMR BOX -->
                    </div>
                </div>
                <!-- END LEFT COLUMN -->
                <!-- MIDDLE COLUMN -->
                <div id="mc-mid-col" class="col-lg-6 p-0">
                    <!-- GAMES ROW-->
                    <div class="row m-0 h-50 px-4">
                        <div class="col my-4 main-group" style="border-right: 1px solid #f5f5f5;">
                            <i class="fas fa-award fa-3x"></i>
                            <h3><strong>{{team.games_played}}</strong></h3>
                            <h5><strong>GAMES</strong></h5>
                        </div>
                        <div class="col my-4 sub-group">
                            <small><i class="fas fa-star fa-3x pt-2"></i></small>
                            <h3><strong><small>{{team.games_won}}</small></strong></h3>
                            <h5><small>WINS</small></h5>
                        </div>
                        <div class="col my-4 sub-group">
                            <small><i class="fas fa-ban fa-3x pt-2"></i></small>
                            <h3><strong><small>{{team.games_lost}}</small></strong></h3>
                            <h5><small>LOSSES</small></h5>
                        </div>
                    </div>
                    <!-- END GAMES ROW-->
                    <!-- SERIES ROW-->
                    <div class="row m-0 h-50 px-4">
                        <div class="col my-4 main-group" style="border-right: 1px solid #f5f5f5;">
                            <i class="fas fa-trophy fa-3x"></i>
                            <h3><strong>{{team.series_played}}</strong></h3>
                            <h5><strong>SERIES</strong></h5>
                        </div>
                        <div class="col my-4 sub-group">
                            <small><i class="fas fa-star fa-3x pt-2"></i></small>
                            <h3><strong><small>{{team.series_won}}</small></strong></h3>
                            <h5><small>WINS</small></h5>
                        </div>
                        <div class="col my-4 sub-group">
                            <small><i class="fas fa-ban fa-3x pt-2"></i></small>
                            <h3><strong><small>{{team.series_lost}}</small></strong></h3>
                            <h5><small>LOSSES</small></h5>
                        </div>
                    </div>
                    <!-- END SERIES ROW-->
                </div>
                <!-- END MIDDLE COLUMN -->
                <!-- RIGHT COLUMN -->
                <div id="mc-right-col" class="col-lg-3 p-0" style="background: rgba(0,0,0,.5);">
                    <div class="card-body h-100 my-3">
                        <h1 id="win-value" class="d-inline-block display-1 font-weight-bold" style="text-shadow: 2px 2px 3px rgba(169,169,169,0.75);">
                            <span style="margin-right: -8px; font-size: 86%;">
                                {% if team.series_played == 0 %}
                                -
                                {% else %}
                                {{team.win_percent}}
                                {% endif %}
                            </span>
                            <span class="fas fa-percent fa-xs align-middle" style="font-size: 40px; padding-bottom: 15px; margin-left: -8px;"></span>
                        </h1>
                        <h1 id="win-label" class="display-4">WIN RATIO</h1>
                    </div>
                </div>
                <!-- END RIGHT COLUMN -->
            </div>
        </div>
    </div>
    <!-- END MAINCARD CONTAINER -->
    <!-- SUBCARDS CONTAINER -->
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-4">
                <!-- GOALS/SHOTS CARD -->
                <div id="goals-shots" class="card box-shadow text-center" style="color: #f5f5f5; border: none; overflow: hidden; min-height: 100%; background-color: rgba(0, 0, 0, 0);">
                    <table class="table table-dark table-striped table-borderless m-0" style="">
                        <tr>
                            <th>GOALS</th>
                            <td style="color: #0d98ba;"><strong>{{team.goals_for}} </strong><i>for</i></td>
                            <td style="color: #ba2f0d;"><strong>{{team.goals_against}} </strong><i>against</i></td>
                        </tr>
                        <tr>
                            <th>SHOTS</th>
                            <td style="color: #0d98ba;"><strong>{{team.shots_for}} </strong><i>for</i></td>
                            <td style="color: #ba2f0d;"><strong>{{team.shots_against}} </strong><i>against</i></td>
                        </tr>
                    </table>
                </div>
                <!-- END GOALS/SHOTS CARD -->
            </div>
            <!-- ASSISTS/SAVES CARD -->
            <div class="col-lg-6 mb-4">
                <div id="assists-saves" class="card box-shadow text-center bg-dark" style="color: #f5f5f5; border: none; overflow: hidden; min-height: 100%;">
                    <div class="row p-4 min-row">
                        <!-- ASSISTS -->
                        <div class="col" style="border-right: 1px solid #f5f5f5;">
                            <div class="row">
                                <div class="col-lg-6 col-sm-6">
                                    <i class="fas fa-hands-helping fa-3x"></i>
                                </div>
                                <div class="col-lg-6 col-sm-6">
                                    <h3>{{team.assists}}</h3>
                                    <h5 style="font-size: 18px;">ASSISTS</h5>
                                </div>
                            </div>
                        </div>
                        <!-- END ASSISTS -->
                        <!-- SAVES -->
                        <div class="col">
                            <div class="row">
                                <div class="col-lg-6 col-sm-6">
                                    <i class="fas fa-shield-alt fa-3x"></i>
                                </div>
                                <div class="col-lg-6 col-sm-6">
                                    <h3>{{team.saves}}</h3>
                                    <h5 style="font-size: 18px;">SAVES</h5>
                                </div>
                            </div>
                        </div>
                        <!-- END SAVES -->
                    </div>
                </div>
            </div>
            <!-- END ASSISTS/SAVES CARD -->
        </div>
    </div>
    <!-- END SUBCARDS CONTAINER-->
    <!-- ROSTER CONTAINER-->
    <div class="container">
        <!-- TEAMMATES -->
        <div id="roster" class="container-fluid text-center">
            <!-- LABEL CONATINER-->
            <div class="py-4 d-inline-block">
                <div class="label px-3 py-2">
                    <h5 class="m-0 p-0">
                        <i class="fas fa-caret-left"></i>
                        ROSTER
                        <i class="fas fa-caret-right"></i>
                    </h5>
                </div>
            </div>
            <!-- END LABEL CONTAINER-->
            <div class="container">
                <div class="row justify-content-center text-center pb-4">
                    {% for player in roster %}
                        <!-- PLAYER CARD -->
                        <div class="col-lg-4">
                            <div class="card player-card text-white bg-dark mt-4 box-shadow">
                                <div class="card-body">
                                    <h2><i class="fas fa-user"></i></h1>
                                    <h2>{{player.name}}</h1>
                                    <table class="table table-borderless text-muted m-0">
                                        <tr>
                                            <td class="text-right py-0">Score:</td>
                                            <td class="text-left py-0">{{player.score}}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-right py-0">Goals:</td>
                                            <td class="text-left py-0">{{player.goals}}</td>
                                        </tr>
                                    </table>
                                </div>
                                <a href="/player/{{player.id}}">
                                    <div class="card-footer btn main-btn w-100">
                                        VIEW PLAYER <i class="fas fa-chevron-right"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- END PLAYER CARD-->
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- END TEAMMATES -->
    </div>
    <!-- END ROSTER CONTAINER-->
    <!-- VIEW ALL BUTTONS -->
    <div id="cta" class="mt-2 pt-4" style="background-color: rgba(0, 0, 0, 0.7);">
        <div class="row">
        <div class="col-md-6 text-right px-4">
            <a class="btn btn-outline-light main-btn-outline px-4 mb-4 box-shadow" href="/teams" role="button">
            <i class="fas fa-users"></i>
            VIEW ALL TEAMS
            <i class="fas fa-chevron-right"></i>
            </a>
        </div>
        <div class="col-md-6 text-left px-4">
            <a class="btn btn-outline-light main-btn-outline px-4 mb-4 box-shadow" href="/players" role="button">
            <i class="fas fa-user"></i>
            VIEW ALL PLAYERS
            <i class="fas fa-chevron-right"></i>
            </a>
        </div>
        </div>
    </div>
    <!-- END VIEW ALL BUTTONS  -->
</div>
<!-- END DASHBOARD SECTION -->
{% endblock %}